<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<import resource="cache/applicationContext-ehcache.xml" />
	<import resource="quartz/applicationContext-quartz.xml" />
	<import resource="email/applicationContext-email.xml" />
	<import resource="security/applicationContext-security.xml" />
	<!-- <import resource="webservice/applicationContext-cxf-client.xml" />
	<import resource="webservice/applicationContext-cxf-server.xml" /> -->
</beans>