
/*body, ul, ul li, h1, h2, h3, h4, h5, img, p, a, ol, em, dd, i {
    border: medium none;
    font-family: 微软雅黑;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    list-style: outside none none;
    margin: 0;
    outline: medium none;
    padding: 0;
    text-decoration: none;
}*/

.container-right{position: relative;margin: auto;}

.head {
    background: #f2f2f2;
    border-bottom: 1px solid #d5d8da;
    border-radius: 0 5px 0 0;
    height: 56px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.head span{
    display: block;
    font-size: 16px;
/*    font-weight: bold;*/
    padding: 10px 25px;
}

.font-tip{
	font-size: 16px;
	padding-left: 20px;
	font-weight: bold;
	padding-bottom: 5px;
}

.priceTable{
	min-height: 100px;
	margin-bottom:15px;
	position: relative;
    margin-top: 20px;
}

.ota-span{
    /*width: 980px;*/
    padding-left: 18px;
    margin: auto;
    display: block;
    height: 34px;
    font-weight: bold;
}
.ota-span input{
    border: 1px solid #cccccc;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    width: 842px;
    text-indent: 0px;
    /*margin-left: 10px;*/
}

.obtn,.return{
    height: 31px;
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.return{
    display: inline-block;
    background: #DDD;
    text-align: center;
    line-height: 30px;
}
.ota-foot{
    padding-left: 20px;
    margin-top: 20px;
}

.ota-foot ul li {
    width: 250px;
    float: left;
    display: block;
    font-size: 14px;
    line-height: 42px;
    margin-right: 60px;
}

.ota-foot ul li .op{
    display: block;
}

.ota-foot ul li .rectangle{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    color: blue;
}

.ota-foot ul li .detail{
  	width: 500px;
  	visibility: hidden;
}

.ota-foot ul li .detail .manager{
  	color: red;
  	padding-left: 30px;
}

.ota-dis{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    padding-left: 20px;
}

.address{width: 50%;}
.tel{width: 50%;}

.address,.tel{
    float: left;
}

.table_count{
	width: 100%;
	height: 30px;
	padding-top: -20px;
	
}

.red{
	color: red;
}

.up_down_count{
	margin-left: 80px;
}
.ota-foot .first{
    text-align: center;
    width: 120px
}
.contract-bg{
    width: 110px;
    height: 110px;
    background: #ddd;
    display: block;
    padding: 10px;
    text-align: center;
    line-height: 110px;
    font-size: 22px;
}
.contract-bg:hover{
    color: #000;
    text-decoration: none;
}
.join-time{
    line-height: 24px;
}